<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card" *ngFor="let education of educations">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>{{education.startDate}} - {{education.endDate}}</p>
            <div class="h5">{{education.level}}</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">{{education.name}}</div>
            <p class="category">{{education.College}}</p>
            <ul>
              <li *ngFor="let achievement of education.achievements">{{achievement}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
