.top-100 {
    margin-top: 100px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #378c3f;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(119,119,119,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(119,119,119,1);
    box-shadow: 0px 0px 20px 0px rgba(119,119,119,1);
}

.nav-item {
    color: #378c3f;
    font-weight: bold;
    cursor: pointer;
}

/** Rating **/

::ng-deep label.star {
    padding: 0 5px !important;
    font-size: 20px !important;
}

.card-text {
    font-size: medium;
}